/* This is a comment */

body {
  background-color: lightblue;
}

#title1 {
  color: white;
  text-align: center;
  border: 4px solid purple;
  border-radius: 5px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#TopPicture {
  text-align: center;
}
